/* Grundlegende Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    background: linear-gradient(135deg, rgba(34, 26, 26, 0.85), #9e3008);
    font-family: 'Ubuntu', sans-serif;
}

.page-container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 3em;
}

.nomark {
    marker: none;
}

.landing {
    width: 100vw;
    height: 100vh;
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    animation: flyIn 1s ease-out;
}

.profile-picture {
    border-radius: 50%;
    width: 20em;
    height: 20em;
    border: 2px solid white;
}

.profile-text {
    color: #ffffff;
    font-size: 5em;
    font-weight: bold;
}

.profile-subtext {
    color: #ff0000;
    font-size: 3em;
    font-weight: bold;
}

.arrow {
    width: 4em;
    height: 4em;
    cursor: pointer;
    position: absolute;
    bottom: 0.4em;
    left: 50%;
    transform: translateX(-50%);
    animation: bouncing 1.2s ease-in-out infinite alternate;
}

.content-block {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content-text {
    padding: 2em;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}

.content-image {
    margin: 2em;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    border: 2px solid white;
}

.footer {
    width: 100%;
    padding: 1em;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    position: relative;
    bottom: 0;
    left: 0;
}

.github-logo img{
    filter: invert(100%);
    width: 3em;
    height: auto;
}

@keyframes flyIn {
    from {
        transform: translate(-50%, -50%) translateY(-1cm);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes bouncing {
    from {
        transform: translateX(-50%) translateY(-1cm);
    }
    to {
        transform: translateX(-50%) translateY(0cm);
    }
}