/* Grundlegende Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#mouse {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10px;
    aspect-ratio: 1;
    background: #fff;
    box-shadow: #f00 0 0 10px 5px, inset #f00 0 0 2px 1px;
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
}

@keyframes mouseAni {
    0% {
        scale: 1;
    }

    50% {
        scale: 2;
    }

    100% {
        scale: 1;
    }
}*/

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
}

.bg {
    background: linear-gradient(135deg, rgba(34, 26, 26, 0.85), #9e3008);
    position: fixed; /*Das hier muss ich noch ändern, damit der Hintergrund bis ganz nach unten an den Webseiten rand generiert wird*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(250px);
    z-index: -1;
}

body {
    /*background-color: #8f2e2e;*/
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    /*cursor: none;*/
}

.page-container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 3em;
}

.nomark {
    user-select: none;
}

.landing {
    width: 100vw;
    height: 100vh;
}

.celement {
    translate: -50% -50%;
    left: 50%;
    top: 50%;
    transition: 150ms;
    position: absolute;
    animation: celmAni 1000ms forwards ease-in-out;
}

.celement.hover {
    scale: 1.05;
}

.celement.clicked {
    scale: 1.1;
}

#celement2 {
    animation-delay: 100ms;
}

#celement3 {
    animation-delay: 200ms;
}

#celement4 {
    animation-delay: 300ms;
}

#celement5 {
    animation-delay: 400ms;
}

#celement6 {
    animation-delay: 500ms;
}

#celement7 {
    animation-delay: 600ms;
}

#celement8 {
    animation-delay: 700ms;
}

#celement1 {
    animation-delay: 800ms;
}

@keyframes celmAni {
    0% {
        width: 1000px;
        height: 1000px;
        /*filter: invert(50%) sepia(100%) saturate(150%) hue-rotate(10deg);*/ /*Komischer effekt, weil das ist am Anfang immer noch weiß aber es ist nicht mehr so smooth im Übergang.*/
    }

    50% {
        width: 1050px;
        height: 1050px;
    }

    100% {
        width: 1000px;
        height: 1000px;
        filter: invert(50%) sepia(100%) saturate(150%) hue-rotate(10deg);
    }
}
@keyframes profileAnim {
    0% {
        scale: 1;
        rotate: 0;
    }
    25% {
        rotate: -20deg;
    }
    50% {
        scale: 1.05;
    }
    75% {
        rotate: 20deg;
    }
    100% {
        scale: 1;
        rotate: 0;
    }
}

.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    animation: flyIn 1s ease-out;
}

.profile-picture {
    border-radius: 50%;
    width: 22.5em;
    height: 22.5em;
    animation: profileAnim 1500ms ease-in-out;
    /*animation-delay: 800ms;*/
}

/*.profile-text {
    color: #ffffff;
    font-size: 5em;
    font-weight: bold;
}

.profile-subtext {
    color: #ff0000;
    font-size: 3em;
    font-weight: bold;
}*/

.content-block {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content-text {
    padding: 2em;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}

.content-image {
    margin: 2em;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    border: 2px solid white;
}

.footer {
    width: 100%;
    padding: 1em;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    position: relative;
    bottom: 0;
    left: 0;
}

.github-logo img{
    filter: invert(100%);
    width: 3em;
    height: auto;
    margin-bottom: 0.5em;
}

@keyframes flyIn {
    from {
        transform: translate(-50%, -50%) translateY(-1cm);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes bouncing {
    from {
        transform: translateX(-50%) translateY(-1cm);
    }
    to {
        transform: translateX(-50%) translateY(0cm);
    }
}